<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/e667568e-1ac1-4c3c-ba9e-7619791fde5f/resourceGroups/BookReadingApp/providers/Microsoft.ApiManagement/service/StoriesReadingAPIapi/apis/StoriesReadingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e667568e-1ac1-4c3c-ba9e-7619791fde5f/resourcegroups/BookReadingApp/providers/Microsoft.Web/sites/StoriesReadingAPI20240727191235</ResourceId>
    <ResourceGroup>BookReadingApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://storiesreadingapi20240727191235.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f31e5f3a-f59e-4dbb-87af-9b957e04c621</ProjectGuid>
    <PublishUrl>https://storiesreadingapi20240727191235.scm.azurewebsites.net/</PublishUrl>
    <UserName>$StoriesReadingAPI20240727191235</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>